/** Exports to ../css/style.css **/
@import '_reset';

/** Foundation **/
@import 'foundation/_foundation';
@import 'foundation/_global';
@include foundation-everything;

body {
    background-color: #262938;
    font-family: 'niveau-grotesk', sans-serif;
}

$teal: #00a0ad;
$teal-dark: #008894;
$purple: #6863ce;
$purple-dark: #5550c8;
$black: #161e20;

.main-area {
    background-color: #FFF;
}

svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: currentColor;
}

/** Elements **/
@import 'elements/_header';
@import 'elements/_footer';
@import 'elements/_listings';
@import 'elements/_homebanner';
@import 'elements/_mobilemenu';
@import 'elements/_homebits';
