footer {
    background-color: #f6f7f7;
    padding: 60px 0;
}

footer p {
    // border-bottom: 1px solid #93959d;
    color: #9d9ea5;
}

/* Social */
footer .social {
  font-size: 0;
  text-align: left;
}

footer .social li {
  display: inline-block;
  margin: 0 1rem 1rem 0;
}

footer .social li a {
    display: block;
    padding: 0.375rem;
}

footer .social li a svg {
    fill: #3e4a5a;
    display: block;
    width: 26px;
    height: 26px;
}

footer .social li a:hover svg {
    fill: $purple;
}

/* Footer nav */
footer h3 {
  color: $purple;
  margin: 0.5rem 0 1rem 0;
}

footer nav li {
  margin: 0.5rem 0;
}

footer nav li a {
  color: $black;
  text-decoration: none;
}
