header {
    box-shadow: 0 1px 2px rgba(92,97,99,0.25);
    position: relative;
}
/* Header Top Bar */
header .below {
    background-color: #f5f6f7;
    color: #FFFFFF;
    padding: 0.375rem;
}

header .contain {
    @supports (display: flex) {
        display: flex;
    }
}
/* Right aligned items */
.header-above-right {
    @supports (display: flex) {
        margin-left: auto;
    }
}
/* Social */
header .below .social {
    float: right;
    margin: 22px 0 10px 15px;
}

header .below .social li {
    float: left;
}

header .below .social li a {
    display: block;
    padding: 0.375rem;
}

header .below .social li a svg {
    fill: #3e4a5a;
    display: block;
    width: 16px;
    height: 16px;
}

header .below .social li a:hover svg {
    fill: $purple;
}

/* Search */
header .below .search-field {
    float: right;
    position: relative;
}

header .below .search-field input[type="search"] {
    border-radius: 30px;
    background: #f7f8fa;
    color: #FFFFFF;
    border: 2px solid #3e4a5a;
    font-size: 1rem;
    line-height: 2.85rem;
    padding: 0 80px 0 20px;
    width: 120px;
    background: #3e4a5a;

    &:focus {
      outline: none;
      border-color: $teal;
      box-shadow: 0px 0px 3px $teal;
    }

    &::-webkit-input-placeholder { color: #FFF; }
    &:-moz-placeholder { color: #FFF; }
    &::-moz-placeholder { color: #FFF; }
    &:-ms-input-placeholder { color: #FFF; }
}

header .below .search-field button {
    position: absolute;
    top: 50%;
    right: 1rem;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: -10px;
    width: 20px;
    height: 20px;

    svg {
      display: block;
      width: 20px;
      height: 20px;
      fill:  #FFFFFF;
    }
}
/* Below */
header .below {
    padding: 0;
    background-color: #FFF;
    position: relative;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

header .below .right-items {
    text-align: right;
    float: right;
}

header .below .phone {
    display: inline-block;
    // float: right;
    background-color: $purple;
    color: #FFF;
    font-weight: bold;
    padding: 0 20px 0 46px;
    margin-right: 15px;
    text-decoration: none;
    position: relative;
    border-radius: 30px;

    font-size: 1.125rem;
    border: 2px solid $purple;
    line-height: 2.85rem;

    &:hover {
      background-color: $teal;
      border-color: $teal;
    }
}

header .below .phone svg {
    fill: #FFF;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 20px;
}
/* Logo */
header a.logo {
    display: block;
    text-decoration: none;
    float: left;
    position: relative;
    margin: 40px 0;
}

header a.logo .tagline {
    color: #435158;
    position: absolute;
    top: 100%;
    margin-top: 2px;
    right: 20px;
    font-size: 14px;
}
/* Secondary Nav */
header .below nav {
    text-align: right;
    font-size: 0;
    float: right;
    margin: 22px 0 10px 0;
}

header .below nav ul {
    position: relative;
    margin: 0;
}

header .below nav li {
    display: inline-block;
    margin: 0px 0 0px 15px;
    list-style: none;
    position: relative;
}

header .below nav li a {
    color: #203140;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 30px;
    white-space: nowrap;
    position: relative;
}

header .below nav li a:hover,
header .below nav li.current a {
    color: $purple;
}

/* Main Nav */
header .primary-nav {
  background: linear-gradient(to top, #202a38 0%, #3e4a5a 100%);
  // background-color: #202a38;
}
header .primary-nav nav {
    text-align: left;
    font-size: 0;
}

header .primary-nav nav ul {
    position: relative;
    margin: 0;

    @supports (display: flex) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

header .primary-nav nav li {
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    list-style: none;
    position: relative;

    @supports (display: flex) {
        flex-basis: 1;
    }
}

header .primary-nav nav li a {
    color: #FFFFFF;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 30px;
    white-space: nowrap;
    position: relative;
    padding: 16px 20px;
}

header .primary-nav nav li a:hover,
header .primary-nav nav li.current a {
    color: #FFF;
    background: rgba(0,0,0,0.1);
}
/* Dropdown */
header .primary-nav nav li .dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background-color: #FFF;
    transition: 0.2s margin-top ease, 0.2s opacity ease;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: left;
    margin: 0;
    z-index: 3;
}

header .primary-nav nav li:hover .dropdown {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 0.2s opacity ease 0.2s;
}

header .primary-nav nav li ul li {
    display: block;
    margin: 0;
}

header .primary-nav nav li ul li:not(:last-child) {
    margin: 0 0 0.25rem;
}

header .primary-nav nav li ul li a {
    display: block;
    text-align: left;
    font-size: 1rem;
    padding: 10px;
    color: #000;
    white-space: normal;
}

header .primary-nav nav li ul li a:focus,
header .primary-nav nav li ul li a:hover {
    color: #000;
}
/* Third Level */
header .primary-nav nav li ul li ul {
    padding: 0;
    position: static;
}

header .primary-nav nav li ul li ul li {
    margin: 0;
}

header .primary-nav nav li ul li ul li a {
    font-size: 1rem;
}

/* Bottom border */
.bottomborder {
  height: 2px;
  background: linear-gradient(to right, #e05896 0%, #3583cc 100%);
}
