.listings {
  background-color: #FFF;
  padding: 3em 0;
}

.sec-title {
  font-size: 22px;
  color: $purple;
  font-weight: bold;
  text-transform: uppercase;
}

.sec-title a {
  float: right;
  color: $teal;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}

a.listing {
  display: block;
  text-decoration: none;
  margin: 1em 0;
  position: relative;
  transition: all 0.3s ease;
}

a.listing:hover,
a.listing:focus {
  box-shadow: 0 2px 28px 0 rgba(0,0,0,.5);
}

a.listing .image {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg,transparent 0,rgba(22,30,32,.65));
  }
}

a.listing .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 2;
}

a.listing .title {
  font-size: 1.25rem;
  line-height: 2rem;
  color: #fff;
}

a.listing .sub {
    border: 1px solid rgba(0,0,0,.06);
}

a.listing .property-info {
    padding: 20px;
    font-size: 1.125rem;
    color: $black;
}

a.listing .property-info span.price {
  color: $purple;
  font-weight: bold;
}

a.listing .property-info span.size {
}

a.listing .sub .details {
  font-size: 1.125rem;
  margin-top: 1.25em;
  color: #162a48;
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,.06);
}

a.listing .sub .details span {
  display: inline-block;
  line-height: 24px;
  margin: 0 1em 0 0;
  position: relative;
  padding-left: 30px;
}

a.listing .sub .details svg {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  fill: $teal;
}
